<!-- <%#= form_with(model: spree_vendor_follower, local: true) do |form| %>
  <%# if spree_vendor_follower.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(spree_vendor_follower.errors.count, "error") %> prohibited this spree_vendor_follower from being saved:</h2>

      <ul>
      <%# spree_vendor_follower.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %>

  <div class="field">
    <%#= form.label :user_id %>
    <%#= form.number_field :user_id %>
  </div>

  <div class="field">
    <%#= form.label :vendor_id %>
    <%#= form.number_field :vendor_id %>
  </div>

  <div class="actions">
    <%#= form.submit %>
  </div>
<%# end %>
 -->