<!-- <h1>Editing Spree Vendor Follower</h1> -->

<%#= render 'form', spree_vendor_follower: @spree_vendor_follower %>

<%#= link_to 'Show', @spree_vendor_follower %> |
<%#= link_to 'Back', spree_vendor_followers_path %>
