<!-- <p id="notice"><%#= notice %></p>

<p>
  <strong>User:</strong>
  <%#= @spree_vendor_follower.user_id %>
</p>

<p>
  <strong>Vendor:</strong>
  <%#= @spree_vendor_follower.vendor_id %>
</p>

<%#= link_to 'Edit', edit_spree_vendor_follower_path(@spree_vendor_follower) %> |
<%#= link_to 'Back', spree_vendor_followers_path %>
 -->